@{
  Layout = "_Layout";
}

<h4>Welcome!</h4>
<p>@Html.ActionLink("See all stylists", "Index", "Stylists")</p>

@* Looking into having splash page and from there going to a single page to display information based on selection. *@